---
layout: page
title: "About"
description: "Hey, this is Jia Pengyue."
header-img: ""
---
<h2>&emsp;&emsp;&emsp;我是憤怒</h2>
<audio controls="controls" src="http://music.163.com/song/media/outer/url?id=28798744.mp3"></audio>

<br>
<br>

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1" > 英语 English </option>
</select>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        hope to be a mixed coder of GIS & CS
    </blockquote>
    <table width="100%" border="1">
        <tr>
          <th>Institute</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>JHFLS</td>
          <td align="right">2011 to 2017</td>
        </tr>
        <tr>
            <td>Zhejiang University, Geographic Information Science</td>
            <td align="right">2017 to 2021</td>
          </tr>
      </table>

</div>



<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        hope to be a mixed coder of GIS & CS
    </blockquote>
    <table width="100%" border="1">
        <tr>
          <th>机构</th>
          <th>时间</th>
        </tr>
        <tr>
          <td>金华市外国语学校</td>
          <td align="right">2011 至 2017</td>
        </tr>
        <tr>
            <td>浙江大学 地理信息科学</td>
            <td align="right">2017 至 2021</td>
          </tr>
      </table>
      <p>喜欢篮球⛹️‍♂</p>
      <p>想有所作为</p>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
